@import 'variables';

.import-list {
  height: 65vh;
  overflow-y: auto;
  border: 2px solid $border-color;
  border-radius: $border-radius;
}

.import-entry {
  display: flex;
  border-bottom: 2px solid $border-color;
  padding: 0.67em 0;

  &__input {
    margin: 0 0.67em;
  }

  &__duplicate {
    font-size: 10px;
    color: tomato;
  }

  &__label {
    flex: 1;
  }
}

.label__details {
  color: $detail-color;
}
